name: cache-workflow

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: cache
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/test
          key: cache-28f114f

      - name: prime-cache-28f114f
        run: echo "Cache hit: ${{ steps.cache.outputs.cache-hit }}"
